body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}

.clear{
    clear: both;
}

#topbar-container {
    width: 100%;
    height: 50px;
    background-color: rgb(36, 42, 47);
    position: fixed;
    z-index: 1;
}

#topbar{
    width: 1000px;
    margin: 0px auto;
    position: relative;
    bottom: 7.3px;
    background-color: rgb(36, 42, 47);
    height : 32px;
}

#github-logo {
    float: left;
    margin-right: 15px;
}

#search-box {
    height: 88%;
    float: left;
    border-radius: 4px;
    width: 300px;
    background-color: rgb(63,68,72);
    margin-right: 20px;
    color: aliceblue;
    border: none;
}

ul#first-list {
    list-style: none;
}

ul#first-list li {
    float: left;
    padding-right: 17px;
    position: relative;
    top: 7px;
}

ul#first-list li a {
    color: rgb(200,201,203);
    text-decoration: none;
    font-weight: bold;
    font-style: Arial;
    font-size: 13px;
}

ul#first-list li a:hover {
    color: white;
    text-decoration: none;
}

#toolbar-arrow-1 {
    float: left;
    margin-left: 540px;
    position: relative;
    bottom: 11px;
    margin-right: 16px;
    
}

#thumbnail {
    float: left;
    position: relative;
    bottom: 11px;
    
}

#body-container {
    position: relative;
    top: 73px;
    height: 600px;
    
}

#body {
    width: 1000px;
    margin: 0px auto;
    position: relative;
    height : 600px;
}

#bio-container {
    float: left;
    background-color: white;
    width: 230px;
    height: 100%;
}

#avatar-main {
    border-radius: 5px;
}

#full-name{
    font-weight: bold;
    font-size: 25px;
    color: rgb(51,51,51);
    
}

#username {
    margin-top: -24px;
    font-size: 20px;
    color: rgb(102,102,128)
}

#bio {
    color: rgb(118,118,118);
    font-size: 14px;
    font-weight: normal;
    margin-top: -6px;
    
}

#geo-info {
    font-size: 14px;
    border-top: 1px solid rgb(195,195,195);
    
}

#geo-container {
    padding-top: 20px;
}

.thumb{
    position: relative;
    bottom: 4px;
}


#message-icon {
    position: relative;
    right: 3px;
}

#geo-info a {
    color: rgb(64,120,192);
    text-decoration: none;
}

#geo-info a:hover {
    text-decoration: underline;
}

.email-tweak {
    position: relative;
    left: -8px;
}

.space{
    padding-bottom: 4px;
}

#repo-container{
    width: 745px;
    height: 100%;
    margin-left: 15px;
    position: relative;
    left: 240px;
}

#account-menu-container {
    width: 100%;
    height: 63px;
    background-color: white;
    border-bottom: 1px solid rgb(195,195,195);
}


.float-left {
    float: left;
}

#menu-regulator {
    height: 100%;
    float: left;
    margin-left: -214px
}

.menu-box {
    height: 100%;
    width: 130px;
    margin-right: 2px;
}

.link-text {
    float: left;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 5px;
    color: rgb(118,118,118);
    font-size: 14px;
}

.link-image {
    padding-top: 22px;
    padding-bottom: 20px;
}

#overview {
    border-bottom: 2px solid rgb(201,81,12);
    width: 100px !important;
    height: 61px !important;
}

#overview-text {
    padding-left: 18px;
}

#repositories {}

#repository-text {
    padding-left: 10px;
}

#stars{
    width: 100px !important;
}

.link-im {
    position: relative;
    bottom: 2px;
}

#stars-text{
    padding-left: 15px;
}

#followers {
    width: 100px;
}

#followers-text{}

#following{}

#following-text{
    padding-left: 12px;
}


#repo-container{}

#sample-text{
    height: 50px;
    
}

#pinned-repo-text {
    position: relative;
    top: 24px;
    right: 214px;
    color: rgb(51,51,51);
    font-size: 17px; 
}

#customize-text {
    position: relative;
    top: 24px;
    float: right;
    font-size: 15px;
}

div#sample-text a {
    color: rgb(118,118,118);
}

div#sample-text a:hover {
    color: rgb(64,120,192);
}


/* Github repo box style */

.repo-icon-container {
    margin: 50px 0px 0px 50px;
    height: 134px;
    width: 359px;
    border-radius: 3px;
    border: 1px solid rgb(195,195,195);
}

.repo-icon {
    margin: 17px 17px;
    height: 100px;
    width: 325px;
}

.tribar {
    float: left;
    margin-right: 5px;
}

.title-text a {
    font-weight: bold;
    font-size: 15px;
    color: rgb(64,120,192);
    text-decoration: none;
    position: relative;
    bottom: 2px;
}

.title-text a:hover {
    text-decoration: underline;
}

.repo-summary {
    margin-top: -7px;
}

.summary-text {
    font-size: 12.8px;
    color: rgb(118,118,118);
}

.repo-stats {
    margin-top: 20px;
}

.py-banner {
    float: left;
    margin-right: 3px;
    margin-top: 4px;
}

.p-lang {
    color: rgb(118,118,118);
    font-size: 13px;
    position: relative;
    bottom: 1px;
    margin-right: 25px;
    margin-top: 4px;
    float: left;
}

.star-level {
    float: left;
    position: relative;
    top: 2px;
}

/* end */


















































